#headline{
    margin-top: 5mm ;
    padding-top: 2mm;
    padding-right: 10mm;
    padding-bottom: 2mm;
    font-size: 15mm ;
    color: rgb(10, 49, 83) ;
}
body {
    background-color: rgb(60, 143, 143) ;
    font-family: Arial;
    padding-left: 10mm;
}
.h2text{ 
    font-size: 10mm ;
    color: rgb(10, 49, 83) ;
}
#refs{
    font-size: 4mm ;
    font-style: italic;
    color:rgb(214, 214, 214);
}

.emojiList{
    list-style: none;
    padding: 0;
    margin: 0;
} 

ul>li::before{ 
    padding-left:10mm ;
    text-indent: 10mm;
    content: url(file:///home/igm/Dev/JSWork/CSS3/images/avocado.png);
}

.emphItalic{
    color: rgb(219, 236, 65);
    font-style: italic;
    font-weight: bold;
}

p>span{
    font-style: italic;
}

p>span>span{
    text-decoration-line: underline;
}

p> .pSpanItalic{
    font-style: normal;
    color:red ;
}